/* Ensure table borders don't collapse into each other */
table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are not doubled */
}

/* Center the table within the container */
.container {
  display: grid;
  justify-content: center;
  transform: scale(1.6); /* Scale up to 200% */
  transform-origin: top left; /* Scale from the center of the element */
  width: 62.5%; /* Adjust width to fit scaled content */
}

/* Center the main title text */
.Main-Title {
  text-align: center;
}

/* Style table headers and cells */
th, td {
  border: 1px solid black; /* Single border for all cells */
  padding: 8px;
  text-align: left;
}

/* Style table headers specifically */
th {
  background-color: #f2f2f2;
}
/* Style the actions cell for horizontal centering */
.actions-Cell {
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically, if applicable */
}

/* Style the delete button */
.delete-button, .edit-button {
  color: white; /* White icon color */
  border: 1px; /* Border */
  border-color: black;
  border-radius: 4px; /* Rounded corners */
  padding: 5px 10px; /* Padding around the icon */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 4px;  /* Margin for icon spacing*/
}

.delete-button{
  /*background-color: rgb(225, 77, 77); /* Red background */
}

.edit-button{
  /*background-color: rgb(77, 225, 77); /* Green background */
}

.delete-button:hover {
  background-color: rgb(192, 128, 128); /* Darker red on hover */
}

.edit-button:hover {
  background-color: rgb(128, 192, 128);
}

.delete-button i, .edit-button i {
  font-size: 16px; /* Adjust icon size */
}
